body {
  display: flex;
  flex-direction: column;
  background: #0d192c;
  align-items: center;
  font-family: Outfit;
}
/* Cards */
.card-container {
  width: 350px;
  height: 596px;
  border-radius: 8px;
  margin-top: 5%;
  padding-top: 30px;
  background: #15263f;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
  border-radius: 15px;
  flex-direction: column;
}
/* Main Card */
.card {
  width: 327px;
  height: 543px;
  border-radius: 8px;
  flex-direction: column;
  border-radius: 8px;
}

/* Attribution Card */
.card2 {
  width: 350px;
  border-radius: 8px;
  padding-top: 15px;
  text-align: center;
  flex-direction: row;
}

/* Cards End */

/* Pics */
.pic-container {
  position: relative;
  width: 302px;
  height: 302px;
  flex-direction: row;
  margin-left: 25px;
  border-radius: 8px;
}

.topPic .img1 {
  position: absolute;
  width: 302px;
  height: 302px;
  flex-direction: column;
  border-radius: 8px;
}

.overlay {
  position: absolute;
  transition: 1s ease;
  opacity: 0;
  padding-top: 45%;
  padding-bottom: 38%;
  padding-right: 42%;
  padding-left: 42%;
  border-radius: 8px;
}

.pic-container:hover {
  background-color: cyan;
}

.pic-container:hover .overlay {
  opacity: 0.5;
  background-color: cyan;
  cursor: pointer;
}

/* Pics End */

/* Equilibrium Row */
h1 {
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  padding-left: 25px;  
  color: white;
}

h1:hover {
  color: cyan;

}
/* Equilibrium Row End */

/* Calm Row */
h2 {
  font-weight: 300;
  Font size: 15px
  line-height: 26px;
  color: #8bacd9;
  margin-right: 5px;
  padding-left: 25px;
}
/* Calm Row End */

/* Diamond and Clock Row  */
.time-container {
  margin: auto;
  top: 0%;
  width: 301px;
  height: 20px;
  padding-top: 15px;
  padding-left: 10px;
}

.diamond {
  flex-direction: column;
  float: left;
}

.numbers {
  flex-direction: column;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: cyan;
  padding-left: 5px;
  padding-right: 110px;

  float: left;
}

.clock {
  flex-direction: column;
  padding-top: 2px;
}

.clock .days {
  float: right;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;
  color: #8bacd9;
}
/* Diamond and Clock Row End  */

/* Line Row  */
.line {
  width: 302px;
  height: 0.5px;
  background-color: #2e405a;
  margin-top: 40px;
  border: solid #2e405a 0.5px;
  flex-direction: row;
  margin-left: 20px;
}
/* Line Row End */

/* Creation Row */
.creation-container {
  flex-direction: row;
  width: 300px;
  height: 33px;
  margin-top: 30px;
  margin-left: 20px;
}

.avatar {
  flex-direction: column;
  width: 33px;
  height: 33px;
  border-radius: 100%;
  float: left;
}

.avatar img {
  width: 33px;
  height: 33px;
  border: solid white .5px;
  border-radius: 100%;
}

.creation {
  font-size: 15px;
  line-height: 19px;
  color: #8bacd9;
  padding-top: 5px;
  margin-left: 15px;
  float: left;
}

.jules {
  float: right;
  padding-top: 5px;
  margin-right: 80px;
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
  cursor: pointer;
}

.jules:hover {
  color: cyan;
}

/* Creation Row End */

/* Attribution Card */
.attribution {
  color: #8bacd9;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 11px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

a:hover {
  color: cyan;
}
/* Attribution Card End */
